<div id="<%= dom_id project %>">
  <p>
    <strong>Organization:</strong>
    <%= project.organization.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= project.url %>
  </p>

  <p>
    <strong>project_id:</strong>
    <%= project.project_id %>
  </p>

</div>
