<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", organization_project_path(@organization, project) %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_organization_project_path %> |
<%= link_to "baclk to organization", organization_path(@organization) %>
